{% extends "layout.html" %}

{% block title %}
    Add Trip
{% endblock %}

{% block main %}

<h1>Add Trip</h1>

<form action"/create" method="post">
    <div class="form-group">
    <input autocomplete="off" autofocus class="form-control" name="destination" placeholder="Destination" type="text">
    </div>

    <div class="form-group">
    <input autocomplete="off" autofocus class="form-control" name="start_date" placeholder ="Start date" type="text">
    </div

    <div class-"form-group">
    <input autocomplete="off" autofocus class="form-control" name="end_date" placeholder ="End date" type="text">
    </div>

    <br></br>

    <button class="btn btn-primary" type="submit">Add</button>

</form>



{% endblock %}