{% extends "layout.html" %}

{% block title %}
    Edit Trip
{% endblock %}

{% block main %}

<h1>Edit Trip</h1>

<form action"/edit" method="post">
    <div class="form-group">
    <input autocomplete="off" autofocus class="form-control" name="destination" value='{{trip["destination"]}}' type="text">
    </div>

    <div class="form-group">
    <input autocomplete="off" autofocus class="form-control" name="start_date" value='{{trip["start_date"]}}' type="text">
    </div>

    <div class="form-group">
    <input autocomplete="off" autofocus class="form-control" name="end_date" value='{{trip["end_date"]}}' type="text">
    </div>
    <input type="hidden" value='{{trip["trip_id"]}}' name="trip_id" />

    <button class="btn btn-primary" type="submit">Update</button>

</form>



{% endblock %}