{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<h1>Trips</h1>

<div class="row">



{% for trip in trips %}

<div class="card col-lg-4" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{trip["destination"]}}</h5>
    <p class="card-text">{{trip["start_date"]}} to {{trip["end_date"]}}</p>
    <a href="#" class="btn btn-primary">Edit</a>
  </div>
</div>

{% endfor %}

</div>



{% endblock %}