{% extends "layout-picture.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" id="form">
        <div class="form-group">
            <input id="username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Re-type password" type="password">
        </div>
        <button id="button" class="btn btn-dark" type="submit">Log In</button>
    </form>


<!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--    <script>-->

<!--let username = document.getElementById("username").value-->
<!--document.querySelector("form").onsubmit = function(event) {-->
<!--    event.preventDefault();-->
<!--    $.get("/check?username=" + username, function(data){-->
<!--        if (data === true){-->
<!--          alert("Sorry - that username is taken!");-->
<!--            }-->
<!--            else {-->
<!--                $('#form').submit();-->
<!--            }-->
<!--    });-->
<!--}-->
<!--</script>-->

{% endblock %}